<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Read JSON File with Angular</title>
<style>
	body{font-family:sans-serif;}
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
</style>
</head>
<body ng-app ="showsApp">
<div ng-controller="ShowListCtrl" ng-cloak>
	<div ng-repeat="show in shows">
	<h1>{{show.title}}</h1>
		<ul>
			<li ng-repeat="season in show.seasons">Season : {{season.season}}
				<ul>
					<li ng-repeat="episode in season.episodes">
						{{episode.title}}
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="myjs.js"></script>
</body>
</html>